<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExampleClient</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ExampleClient</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Edit People</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - ExampleClient</p>
        </footer>
    </div>

    <!-- jsns must be first and not async -->
    <script src="~/lib/jsns.min.js"></script>
    <!-- We can do better than ramming all this in here like this, but I need to work it out first. Do this for now. -->
    <script src="~/lib/HtmlRapier.js" async></script>
    <script src="~/lib/HtmlRapierBootstrap.js" async></script>
    <script src="~/lib/HtmlRapierWidgets.js" async></script>
    <script src="~/lib/ClientLibs.js" async></script>
    <script src="~/lib/json-editor.min.js" async></script>
    <script src="~/lib/swagger-client.js" async></script>

    @RenderSection("scripts", required: false)
</body>
</html>
